

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
}

.name {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
}

.name:hover{
    color: #ffc740;


}