li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    list-style-type: none;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    margin-bottom: 50px;
}




