
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}


.search {
    width: 500px;
    display: flex;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.search-button {
    display: flex;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    color: white;
    background-color: black;
    position: absolute;
    top: 70.5%;
    left: 75%;
    transform: translate(-50%, -50%)

}

.search-button:hover {
    color: #ffc740;
}

.results-card {
    padding-left: 20px;
    display: flex;
}

.image-results{
    border: black solid 1px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    width: 500px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
}
 
.image-return{
    height: auto;
    width: 500px;
    display: flex;
}
.other {
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
    width: 400px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;  
}

.other-button {
    display: flex;
    position: absolute;
    top: 11%;
    left: 70%;
}