
input.search {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 10px;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    border: 1px solid #ccc;
    position: fixed;
    bottom: 92vh;
    left: 20vw;
    
}

.search-button {
    display: flex;
    flex-direction: row;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    font-size: 8px;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 92vh;
    left: 60vw;
}

.search-button:hover{
    color: #ffc740;
}

@media(min-width: 500px){
    input.search{
        bottom: 87vh;
        left: 26vw;
    }
    .search-button{
        height: 15px;
        bottom: 87vh;
        left: 68vw;
    }
}
@media(min-width: 800px){
    input.search{
        height: 15px;
        bottom: 88vh;
        
    }
    .search-button{
        height: 20px;
        bottom: 88vh;
    }
}

@media(min-width: 1400px){
    input.search{
        bottom: 89vh;
    }
    .search-button{
        bottom: 89vh;
    }
}

@media(min-width: 1500px){
    input.search{
        bottom: 91vh;
    }
    .search-button{
        bottom: 91vh;
    }
}



/* .results-card {
    padding-left: 20px;
    display: flex;
}

.image-results{
    border: black solid 1px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    width: 500px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
}
 
.image-return{
    height: auto;
    width: 500px;
    display: flex;
}
.other {
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
    width: 400px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;  
}

.other-button {
    display: flex;
    position: absolute;
    top: 11%;
    left: 70%;
} */ 